.box {
    /*margin: 0px;*/
    border: 1px solid black;
    box-sizing: border-box; /* border are included in the size */
    display: inline-block;
    vertical-align: top; /* to force alignment, otherwise shift when adding text to the box */
    height: 25vh; /* vh : viewport height */
    width: 25vw; /* vw : viewport width */
}

/* General cases above, the further down we go, the more specific we go*/
@media (max-width: 767px) /* If the max screen width is 767px then do this*/ { 
    .box {
        background-color: blue;
    }
    .mobile {
        display:none;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .tablet {
        background-color: red;
        /*display: inline;*/
        /*height: 200px;*/
        /*width: 200px;*/
    }    
}

@media (min-width:992px) {
    .desktop {
        background-color:grey;
    }    
}
